label{
margin: 5px;
}

input{
    border-radius: 5px;
    border-color: #c0c0c0 !important;
    padding: 5px;
    margin: 20px 20px;
}

select{
    border-radius: 5px;
    border-color: #c0c0c0 !important;
    padding: 5px;
    margin: 20px 30px;
}


#date{
    margin: 20px 30px;
}