table{
  width: 80vw;
  text-align: left;
  border-collapse: collapse;
}
th{
  border-bottom: 2px solid #242424;
}
td, th {
  border-right: 2px solid #242424; /* add a border to the right side of each cell */
  padding: 10px; /* add some padding to the cells */
}

td:last-child, th:last-child {
  border-right: none; /* remove the border from the last column of cells */
}

.todo-item {
  height: 50px;
  border-bottom: 2px solid #242424;
}

.todo-item td.name {

  width: 25%;
}

.todo-item td.date {
  width: 25%;
}

.todo-item td.type {
  width: 25%;
}

.todo-item td.status {
  width: 25%;
}

tr:hover {
  background-color: #252525;
  transition: 0.3s;
}

.fa:hover {
  color: rgb(56, 188, 56);
  transition: 0.3s;
}

.header .fa:hover {
color: rgb(231, 205, 11);
transition: 0.3s;
}

.fa-xmark:hover{
  color: rgb(212, 23, 23);
  transition: 0.3s;
}

.actions{
  display: flex;
  justify-content: space-evenly;
}
.selected{
  background-color: rgba(112, 193, 112, 0.753);
}
.selected:hover{
  background-color: rgb(65, 147, 65, 0.753);
}


